h1 {
    color:black;
    font-size: 20px;
    text-align: left;
}
p{
    color:black;
    text-align:left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    
}        
body{
    background-color: whitesmoke;
    margin: 10px;
}



#ford {
    position: relative;
    height: 40%;
    left: 25%;
}

h3 {
    border: solid;
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 9px;
    background-color: red;
    width: fit-content;
    padding: 4px;    
    border-width: 1px;
    color: white;
    font-style: initial;
    text-align: center;
    

}

#korolla {
    width: 800px;
    position: relative; 
    height: 40%; 
    left: 25%;
}

#se {
    text-align: center;
    font-size: 20px;

}

#volte {
    color: red;
    text-align: center;
    font-size: 20px;
    text-decoration:none;
}

.botao{
    border: solid 1px red;
    border-radius: 13px;
    color: white;
    background-color: red;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    align-items: center;
    width: 24.8%;
    height: 70px;
    border-color: black;
    
}
.botao:hover{
    background-color: red;
    color: white;
    transform: scale(1.2)
    
}

a {
 text-align: left;
}

h2{
    font-size: 27px;
    height: 60px;
    margin: auto;
    text-align: center;
}
#img{
    left: 400px;
    width: 300px;
    
    

}

h5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}

.espesificacoes {
    position: absolute;
    top: 40vh;
    right: 20px;
    
}

.video-carro{
    position: relative;
    
}